<% include ../partials/header%>



<div class='container'>
    <div class='jumbotron'>
        <h1>Welcome to Campground</h1>
        <a href='/campgrounds/new' class='btn btn-primary btn-lg'>Add New Campground</a>
    </div>
    
    <div class='row'>
        <% campgrounds.forEach(function(camp){%>
            <div class='col-12 col-md-6 col-lg-4'>
                <div class='card'>
                    <img src="<%= camp.image %>" class='card-image-top'>
                    <div class='card-body text-center'>
                        <h4 class='card-text'><%=camp.name%></h4>
                        <a href='/campgrounds/<%=camp._id%>' class='btn btn-lg btn-primary'>More Info</a>
                    </div>
                </div>
            </div>
        <% })%>
    </div>

</div>
<% include ../partials/footer%>
